.row
{
    background: #fff;
}
img.logo-img {
    vertical-align: middle;
    width: 2rem;
    margin-left: 4rem;
    margin-top: 24px;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(10 10 10);
    font-family: Calibre, Helvetica Neue, Segoe UI, Helvetica, Arial, Lucida Grande, sans-serif;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    font-weight: 750;
    line-height: 30px;
    margin: 0 15px;
    margin-top: 0px;
    margin-right: 15px;
    margin-bottom: 0px;
    margin-left: 15px;
    transition: opacity .2s ease-in;
    
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: -0.5rem;
    padding-left: -0.5rem;
}
.navbar li
{
    position: relative;
    
}
.navbar li:hover
{
text-decoration: underline;
color: rgb(61, 61, 206);
}
h1.main-font
{
	background:  linear-gradient(81.84deg, #0099ff -9.4%, #a033ff 51.57%, #ff5280 84.07%, #ff7061 90.59%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-size: 59px;
    font-weight: 500;
}
.paragraph
{
    text-align: left;
    color:  #595959;;
}
.form-control {
    display: block;
    width: 50%;
    padding: .375rem .75rem;
    font-size: 13px;
    font-weight: 200;
    line-height: 1.5;
    color: rgba(0, 0, 0, 1);
    background-color: rgba(0, 0, 0, .04);
    background-clip: padding-box;
    border: none;
    border-radius: 10px;
    font-family: Calibre, Helvetica Neue, Segoe UI, Helvetica, Arial, Lucida Grande, sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
a {
    color: #0d6efd;
    text-decoration: underline;
    font-size: 11px;
    margin-top: 15px;
}
label {
    display: inline-block;
    font-size: small;
   
}
img.footertag {
    margin-top: 24px;
    width: 8rem;
}
